<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <center>
    <h1>Inflation Calculator</h1>
    <div class="containers">
    <p>Please submit your gross monthly salary and inflation: </p>
    <form id ="input form" method="post" action = "">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <input type="submit" value="Submit" />
    </form>
    </div>
    </center>

</body>
</html>