{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
  <head>
    <title>Savings Analytics</title>
  </head>
  <center>
  <h2>Savings Analysis</h2>
  </center>
  <div class="container">
    <canvas id="myChart"></canvas>
</div>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',// bar, horizontalBar, pie, line, doughnut, radar, polarArea

        data: {
            labels: {{labels|safe}},
            datasets: [{
                data: {{data|safe}},
                backgroundColor: {{colors|safe}}
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Savings Chart',
                fontColor: '#000'
            },
            legend: {
                disblay: true,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            }
        }
    });

</script>
  <body>
      <table>

        <thead>
          <tr>
            <th>Product Name</th>
            <th>Product Price</th>
          </tr>
        </thead>
        <tbody>
          {% for key, value in savings.items %}
          <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table> 
    <label style="position:absolute; top: 480px; left: 650px; color: black; font-weight: bold;" for="display"> Potential Savings</label> 
    <input type="textbox" name="display" id="display" class="testing" value="£{{ totalsavings }}" readonly="readonly">
      <div class="btn-group">
        <button type="button" class="button"><a href="/results">Results</button>
        <button type="button" class="button"><a href="/reboot">Home</button>
      </div>
    </div>
  </body>
</html>
