html {
    /* Base styles go here */
    font: 14px/1.5 Arial, sans-serif;
    background: #087038;
   }
   
   body {
    background-color: #087038;
    padding: 0 20px;
    width: 920px;
    margin: 0 auto;
   }

   thead,
tfoot {
    background-color: #087038;
    color: black;
}

tbody {
    background-color: #087038;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    padding: 20px;
    margin: 30px;
    margin-right: auto;
    margin-left: 0px;
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    width:400px;
    table-layout:fixed;
}

h2 {
  font-size: 38px;
  font-weight: 200;
  line-height: 1.2;
  }

td,
th {
    border: 1px solid black;
    padding: 5px 10px;
}

td {
    text-align: center;
}

/* CSS */
.button {
  align-items: center;
  background-color: #087038;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  margin: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none; 
  float: right;
  touch-action: manipulation;
}

.button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button:hover:after {
  transform: translate(0, 0);
}

a:visited {
  color: black;
}

.button:active {
  background-color: #ffdeda;
  outline: 0;
}

.button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button {
    padding: 0 40px;
  }
}

.container{
    float: right;
}
